#signup-page {
    width:100%;
}

.signup-split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

#signup-page-left {
  left: 0;
  background-color: #111;
}

#signup-page-right {
  right: 0;
  background-color: red;
}

#signup-form input, label {
    display: block;
}
